<div class="container">

<h2>Latest Releases</h2>

{{#each model as |releases|}}
  <h3><a href={{releases.url}}>{{releases.url}}</a></h3>
  <table class="table table-striped releases">
    <thead>
      <tr>
        <th>Release Number</th>
        <th>Comment</th>
        <th>Author</th>
        <th>Date Published</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{releases.name}}</td>
        <td>{{releases.body}}</td>
        <td>{{releases.author.login}}</td>
        <td>{{releases.published_at}}</td>
      </tr>
    </tbody>
  </table>
{{/each}}

{{outlet}}
</div>
